<%= form_for(@place) do |f| %>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">	
		<%= f.text_field :name, class: 'mdl-textfield__input', id: 'name' %>
		<%= f.label "Nombre", class: 'mdl-textfield__label', for: 'name' %>
    </div><br>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :address, class: 'mdl-textfield__input', id: 'address'  %>
		<%= f.label "Direccion", class: 'mdl-textfield__label', for: 'address' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :postal, class: 'mdl-textfield__input', id: 'postal'  %>
		<%= f.label "CP", class: 'mdl-textfield__label', for: 'postal' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :phone, class: 'mdl-textfield__input', id: 'phone'  %>
		<%= f.label "Telefono", class: 'mdl-textfield__label', for: 'phone' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :email, class: 'mdl-textfield__input', id: 'email' %>
		<%= f.label "Email", class: 'mdl-textfield__label', for: 'email' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :url, class: 'mdl-textfield__input', id: 'url'  %>
		<%= f.label "Web de la empresa", class: 'mdl-textfield__label', for: 'url' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :categoria, class: 'mdl-textfield__input', id: 'categoria'  %>
		<%= f.label "Categoria", class: 'mdl-textfield__label', for: 'categoria' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :habitaciones, class: 'mdl-textfield__input', id: 'habitaciones'  %>
		<%= f.label "Habitaciones", class: 'mdl-textfield__label', for: 'habitaciones' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :camas, class: 'mdl-textfield__input', id: 'camas'  %>
		<%= f.label "Camas", class: 'mdl-textfield__label', for: 'camas' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :latitude, class: 'mdl-textfield__input', id: 'latitude'  %>
		<%= f.label "Latitud", class: 'mdl-textfield__label', for: 'latitude' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :longitude, class: 'mdl-textfield__input', id: 'longitude'  %>
		<%= f.label "Longitud", class: 'mdl-textfield__label', for: 'longitude' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_field :img, class: 'mdl-textfield__input', id: 'img'  %>
		<%= f.label "Imagen(url)", class: 'mdl-textfield__label', for: 'img' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_area :accesibilidad, class: 'mdl-textfield__input', id: 'accesibilidad', rows: '5'  %>
		<%= f.label "Accesibilidad", class: 'mdl-textfield__label', for: 'accesibilidad' %>
	</div><br>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield">
		<%= f.text_area :comment, class: 'mdl-textfield__input', id: 'comment', rows: '5'  %>
		<%= f.label "Comentarios", class: 'mdl-textfield__label', for: 'comment' %>
	</div><br>

	<%= f.submit "Guardar Cambios", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
<% end %>