<div class="contenedor">
  <% @places.each do |place| %>
  	
  		
		<div class="mdl-card mdl-shadow--2dp demo-card-square">
		  <div class="mdl-card__title mdl-card--expand" style="background: url(<%= place.img %>) bottom right 15% no-repeat #46B6AC; background-size: cover">
		    <%= link_to place.name, place,class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-button--accent", style: "margin-top: 100px; color: #010D78; text-decoration: none;font-weight: bold;font-family: 'Raleway', sans-serif;background-color: #D4D4D4;" %>
		  </div>
		  <div class="mdl-card__supporting-text">
		  	<%= place.address %>
		  	<br><br>
		    <%= place.phone %>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
		    <%= link_to "VER", place, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", style: "font-family: 'Raleway', sans-serif; background-color: #4154FF; font-weight: bold;" %>
		    <%= link_to "EDITAR", edit_place_path(place), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>

		    
		  </div>
		</div>

		<style>
		  .demo-card-square.mdl-card {
		    width: 320px;
		    height: 320px;
		    float: right;
		    margin: 40px 80px 0px 30px;
		  }
		  .demo-card-square > .mdl-card__title {
		    color: #fff;
		  }
		</style>
  		
  	
  <% end %>

</div>
<div class="pagin"><%= will_paginate @places, class: "digg_pagination"%></div>

