<div id="places">
	<% @places.each do |place| %>
		<div data-latitude="<%= place.latitude %>" data-longitude="<%= place.longitude %>"
			data-iden = "<%= place.id %>" data-title = "<%= place.name %>" 
			data-image = "<%= place.img %>">
		</div>
	<% end %>
</div>

<div id="map-canvas" style="height: 575px; margin-top: 0px; padding: 0;">
</div>

<script type="text/javascript">
	  function initialize() {
	    var posicion = new google.maps.LatLng(41.66, -0.8949)
	    var mapOptions = {
	      center: posicion,
	      zoom: 12,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById('map-canvas'),
	        mapOptions);
	    $('#places').find('div').each(function() {
	    	var lati = $(this).data("latitude");
	    	var longi = $(this).data("longitude");
	    	var iden = $(this).data("iden");
	    	var title = $(this).data("title");
	    	var imag = $(this).data("image");
	    	var contentInfo = '<a href="/places/'+ iden +'">'+ title +'</a>';
			//var contentInfo = $(this).html();
	    	//console.log(contentInfo);
	    	var infowindow = new google.maps.InfoWindow({
      		  content: contentInfo
  			});
    		var marker = new google.maps.Marker({
	    	  position: new google.maps.LatLng(lati, longi),
	    	  map: map,
	    	  icon: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-icon.png'
	    	});
	    	google.maps.event.addListener(marker, 'click', function() {
       		  infowindow.open(map,marker);
   			});
    	
 		 });
	    
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
</script>